---
import { type CollectionEntry, getCollection } from "astro:content";

import ProductLayout from "@/layouts/ProductLayout.astro";

export async function getStaticPaths() {
  const products = (await getCollection("product")).sort(
    (a: AstroProduct, b: AstroProduct) =>
      a.data.pubDate.valueOf() - b.data.pubDate.valueOf(),
  );
  return products.map((product: AstroProduct) => ({
    params: { slug: product.slug },
    props: product,
  }));
}
type Props = CollectionEntry<"product">;

const post = Astro.props;
const { name, description, pubDate, heroImage, } = post.data;
// const { Content } = await post.render();
---

<ProductLayout>
  <div class="product-details">
    <div class="hero-image">
      {heroImage && <img width={1020} height={510} src={heroImage} alt="" />}
    </div>
    <div>
      <h1>{name}</h1>
      <h5 class="date">
        {pubDate.toLocaleDateString('en-us', { weekday:"long", year:"numeric", month:"short", day:"numeric"})}
      </h5>
      <p>
        Sample description: {description}
      </p>
    </div>
  </div>
</ProductLayout>
